@charset "UTF-8";

/*全体
----------------------*/
body{
	font-family: "A-OTF 新ゴ Pro",A-OTF Shin Go Pro,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.7;
	font-size: 13px;
	font-size: 0.8125rem;
	margin: 0;
 	padding: 0;
 	color: #000;
    background: #f6f5f0;
}


/*　パディングをサイズ内側にする処理　*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	 box-sizing: border-box;
}




/*共通
----------------------*/

#wrap{
  overflow: hidden;
}


/*firefoxハック*/
/*@-moz-document url-prefix() {
  #wrap {
    padding-top: 68px;
  }
}
*/




.width_inner{
  width:1175px;
  margin:0 auto;
}

/*ヘッダー
----------------------*/

#header{
 width:100%;
 background: #fff;
}

.header_inner{
  width:1175px;
  height: 135px;
  margin:0 auto;
}


/*サイトロゴ*/
.logo{
  width:90px;
  height: 90px;
  border-radius: 50%;
  background: #eee;
  text-align: center;
  line-height: 90px;
  float: left;
}

/*サイトタイトル*/
.title{
  width:150px;
  margin:0 auto;
}



/*ソーシャルリンク*/
.social_link{
  float:right;
}


.social_link li{
  width:43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  text-align: center;
  float:left;
   -webkit-animation: icon_move 0.5s ease-in 0.5s infinite alternate;
  animation: icon_move 0.5s ease-in 0.5s infinite alternate;
}

.social_link li:nth-child(1){
  background:#00abf1;
  position: relative;
}

.social_link li:nth-child(1):after{
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 53px;
    height: 53px;
    margin: 0 auto;
    top: -6px;
    left: -6px;
    bottom: 0;
    border: 1px solid #00abf1;
    -webkit-animation: icon_move_second 0.5s ease-in 0.6s infinite alternate;
    animation: icon_move_second 0.5s ease-in 0.6s infinite alternate;
}

.social_link li:nth-child(2){
  background:#4661a6;
  margin-left:10px;
  position: relative;
}


.social_link li:nth-child(2):after{
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 53px;
    height: 53px;
    margin: 0 auto;
    top: -6px;
    left: -6px;
    bottom: 0;
    border: 1px solid #4661a6;
    -webkit-animation: icon_move_second 0.5s ease-in 0.6s infinite alternate;
    animation: icon_move_second 0.5s ease-in 0.6s infinite alternate;
}




/*単体のムーブ*/
@keyframes icon_move {
  0% {-webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);}

  100% {-webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);} 
}


/*単体プラスでのムーブ*/
@keyframes icon_move_second {
  0% {-webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);}

  100% {-webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);} 
}



/*ナビ
--------------------*/

.hamburger{
    position: absolute;
    top:8px;
    right:3px;
    z-index: 10;
    outline: none;
}


.menu_box{
  width:1175px;
  margin:0 auto;
}

.menu_link li{
  float:left;
  width:293px;
  height: 100px;
  text-align: center;
  background: #fff;
  line-height: 100px;
}



.menu_link li:nth-child(1){
  border-top:4px solid #ff646c;
}

.menu_link li:nth-child(2){
  border-top:4px solid #ffcd1f;
}



.menu_link li:nth-child(3){
  border-top:4px solid #56cc8e;
}



.menu_link li:nth-child(4){
  border-top:4px solid #65ace4;
}


/*メインビジュアル
------------------------*/
.main_visual{
  width:100%;
  height:460px;
  background: #eee;
  position: relative;
}

.box{
  width:360px;
  height: 145px;
  background: #fff;
  position: absolute;
  top:150px;
  left:25%;
}

/*内側切り抜きに合わせてスマートフォン設置*/
.smart_tel_icon_layer{
      background: url(../img/top/p_smartphone_small.png) no-repeat center center;
      width:286px;
      height: 393px;
      position: absolute;
      z-index: 1;
      bottom:-5px;
      right: 257px;
}

/*切り抜き用*/
.screen_layer{
    position: absolute;
    bottom: 0;
    right: 305px;
    overflow: hidden;
    width: 190px;
    height: 375px;

}

/*画面内部側*/
.inner_layer_clip{
  width:190px;
  height: 424px;
  background-image: url(../img/top/bg_layer.jpg);
 -webkit-background-size: 500px;
  background-size: 500px;
  -webkit-animation: bgscroll 25s linear infinite;
  animation: bgscroll 25s linear infinite;
}



@-webkit-keyframes bgscroll {
 0% {background-position: 0 0;}
 100% {background-position: -500px 0 ;}
}

@keyframes bgscroll {
 0% {background-position: 0 0;}
 100% {background-position: -500px 0;}
}

/*外側アニメーション*/
.outer_layer_clip{
   top:0;
    left: 0;
    width: 100%;
    height: 460px;
    background-image: url(../img/top/bg_layer.jpg);
    background-attachment: fixed;
    background-position: 0 0;
    position: absolute;
    opacity: .1;
    -webkit-animation: bgscroll 25s linear infinite;
    animation: bgscroll 25s linear infinite;
}




/*コンテンツ
------------------*/
.catch_image{
  width:585px;
  height: 365px;
}










/*キーフレームテンプレ
-------------------------*/

.bg-gradation1 {
  width:100%;
  height:56px;
  color:#FFF;
  -webkit-animation: bg-gradation-one 10s ease-in 0.1s infinite alternate;
  animation: bg-gradation-one 10s ease-in 0.1s infinite alternate;
}





/*カラーグラデーショーン　bg-gradation1*/
@keyframes bg-gradation-one {
  0% {background-color:#cde9e3;}
  20% {background-color:#cde9e3;}
  40% {background-color:#73f1d8;}
  60% {background-color:#1aeac0;} 
  80% {background-color:#1bcba7;} 
  100% {background-color:#30b197;} 
  /*100% {background-color:#060eb3;} */
}






/* クリアフィクス指定
-----------------------------------------*/
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}







  